@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overscroll-behavior: none;
  overflow-x: hidden;
  background-color: #0B111B;
  color: #fafafa;
  margin: 0px;
  padding: 0px; 
}

xterm-viewport {
  background-color: #161D2D !important;
}

.xterm-viewport {
  background-color: #161D2D !important;
}

.fc .fc-daygrid-day.fc-day-today {
  background-color: #2A3A50;
}

.fc-daygrid-event{
  padding: 1rem;
  text-wrap: wrap;
}

/* disable dot on dayGridMonth*/
.fc-daygrid-event-dot {
  display: none !important;
}

/* change bg event on dayGridMonth*/
.fc-daygrid-dot-event.fc-event-mirror, .fc-daygrid-dot-event {
  background: #5572FA;
}
/* change bg event on dayGridMonth(hover)*/
.fc-daygrid-dot-event.fc-event-mirror, .fc-daygrid-dot-event:hover {
  background: #5572FA;
}

/* fix timeGridWeek,timeGridDay*/
.fc-event-main{
  display: flex;
  align-items: center;
  text-wrap: wrap;
}
.fc .fc-timegrid-col:hover{
  background: #2A3A50AA;
}
/* change bg today on timeGridWeek,timeGridDay*/
.fc-day-today {
  --fc-today-bg-color:#2A3A50
}
/* fix listMonth event hover*/
.fc-event {
  --fc-list-event-hover-bg-color:#2A3A50
}

.fc .fc-daygrid-day:hover {
  background: #2A3A50AA;
}

.fc-theme-standard td, .fc-theme-standard th {
  border: 2px solid;
  border-color: #3049724d;
}

.fc .fc-list-event.fc-event-forced-url:hover {
  background: #2A3A50AA;
  cursor: pointer;
}

/* Scrollbar width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #2B2D34; /* Change this to your desired background color */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #424E6C; /* Change this to your desired handle color */
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #445889; /* Change this to your desired hover color */
}

.dropdown::-webkit-scrollbar-track {
    background: #2A3A50; /* Color of the scrollbar track */
    border-radius: 10px; /* Rounded corners for the track */
    margin-top: 2px;
    margin-bottom: 2px;
}

.apexcharts-tooltip {
    background: #000;
    color: #fafafa;
}  